params {
    // Reads and references

    reads = "$projectDir/remultiplexed_hifi_reads/{C01,D01}/*.bam"
    
    gtf = "$projectDir/refs/gencode.v48.annotation.gtf"
    genome = "$projectDir/refs/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    cdna_adapters = "$projectDir/refs/cdna_adapters_s1.fasta"
    kinnex_smartbell_adapters = "$projectDir/refs/kinnex_smartbell_adapters.fasta"
    kinnex_segmentation_adapters = "$projectDir/refs/kinnex_segmentation_adapters.fasta"

    samplesheet = "$projectDir/samplesheet.csv"
    talon_config = "$projectDir/talon.config"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P ubah'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }

                withLabel: process_very_high {
                    cpus = 24
                }

                withLabel: process_cluster2 {
                    cpus = 32
                    
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true