params {
    // Reads and references
    
    gtf = "/restricted/projectnb/ubah/rbozadjian/isoquant/refs/gencode.v48.annotation.gtf"
    genome = "/restricted/projectnb/ubah/rbozadjian/isoquant/refs/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz "

    samplesheet = "$projectDir/samplesheet.csv"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P ubah'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true