params {
    // reads and references
    // all references downloaded from GENCODE
    reads = "$projectDir/remultiplexed_hifi_reads/{C01,D01}/*.bam"
    gtf = "$projectDir/refs/gencode.v48.annotation.gtf"
    genome = "$projectDir/refs/GRCh38.primary_assembly.genome.fa.gz"
    transcriptome = "$projectDir/refs/gencode.v48.transcripts.fa.gz"
    fastq = "$projectDir/results/fastq/"

    // adapters
    cdna_adapters = "$projectDir/refs/cdna_adapters_s1.fasta"
    kinnex_smartbell_adapters = "$projectDir/refs/kinnex_smartbell_adapters.fasta"
    kinnex_segmentation_adapters = "$projectDir/refs/kinnex_segmentation_adapters.fasta"

    // kallisto indexes
    kallisto_idx = "$projectDir/refs/human_k-63.idx"   
    kallisto_t2g = "$projectDir/refs/human.t2g" 

    // isoformswitchanalyzer
    isoform_nt_fasta = "$projectDir/results/isoformswitchanalyzer/isoformSwitchAnalyzeR_isoform_nt.fasta"
    isoform_aa_fasta = "$projectDir/results/isoformswitchanalyzer/isoformSwitchAnalyzeR_isoform_AA.fasta"

    // directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P ubah'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }

                withLabel: process_very_high {
                    cpus = 24
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true